In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os, glob
# Use glob to get all filepaths that match the pattern (*=wildcard)
all_files = sorted(glob.glob("Data/Chicago-Crime*.csv"))
all_files

['Data\\Chicago-Crime_2001.csv',
 'Data\\Chicago-Crime_2002.csv',
 'Data\\Chicago-Crime_2003.csv',
 'Data\\Chicago-Crime_2004.csv',
 'Data\\Chicago-Crime_2005.csv',
 'Data\\Chicago-Crime_2006.csv',
 'Data\\Chicago-Crime_2007.csv',
 'Data\\Chicago-Crime_2008.csv',
 'Data\\Chicago-Crime_2009.csv',
 'Data\\Chicago-Crime_2010.csv',
 'Data\\Chicago-Crime_2011.csv',
 'Data\\Chicago-Crime_2012.csv',
 'Data\\Chicago-Crime_2013.csv',
 'Data\\Chicago-Crime_2014.csv',
 'Data\\Chicago-Crime_2015.csv',
 'Data\\Chicago-Crime_2016.csv',
 'Data\\Chicago-Crime_2017.csv',
 'Data\\Chicago-Crime_2018.csv',
 'Data\\Chicago-Crime_2019.csv',
 'Data\\Chicago-Crime_2020.csv',
 'Data\\Chicago-Crime_2021.csv',
 'Data\\Chicago-Crime_2022.csv']

In [8]:
df = pd.concat([pd.read_csv(f,low_memory=False) for f in all_files])
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7713109 entries, 0 to 238857
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Date                  object
 2   Primary Type          object
 3   Description           object
 4   Location Description  object
 5   Arrest                bool
 6   Domestic              bool
 7   Beat                  int64
 8   District              float64
 9   Ward                  float64
 10  Latitude              float64
 11  Longitude             float64
dtypes: bool(2), float64(4), int64(2), object(4)
memory usage: 662.0+ MB

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
0,1326041,01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE,False,False,1624,16.0,NaN,41.957850,-87.749185
1,1319931,01/01/2001 01:00:00 PM,BATTERY,SIMPLE,RESIDENCE,False,True,825,8.0,NaN,41.783892,-87.684841
2,1324743,01/01/2001 01:00:00 PM,GAMBLING,ILLEGAL ILL LOTTERY,STREET,True,False,313,3.0,NaN,41.780412,-87.611970
3,1310717,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2424,24.0,NaN,42.012391,-87.678032
4,1318099,01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,214,2.0,NaN,41.819538,-87.620020

In [13]:
test_date = df.loc[0, 'Date']
test_date

0    01/01/2001 01:00:00 AM
0    01/01/2002 01:00:00 AM
0    01/01/2003 01:00:00 AM
0    01/01/2004 01:00:00 AM
0    01/01/2005 01:00:00 AM
0    01/01/2006 01:00:00 PM
0    01/01/2007 01:00:00 AM
0    01/01/2008 01:00:00 PM
0    01/01/2009 01:00:00 AM
0    01/01/2010 01:00:00 AM
0    01/01/2011 01:00:00 AM
0    01/01/2012 01:00:00 AM
0    01/01/2013 01:00:00 PM
0    01/01/2014 01:00:00 AM
0    01/01/2015 01:00:00 AM
0    01/01/2016 01:00:00 AM
0    01/01/2017 01:00:00 AM
0    01/01/2018 01:00:00 AM
0    01/01/2019 01:00:00 PM
0    01/01/2020 01:00:00 AM
0    01/01/2021 01:00:00 PM
0    01/01/2022 01:00:00 PM
Name: Date, dtype: object

In [ ]:
df['Datetime']= pd.to_datetime(df['Date'], format= "%m/%d/")